<%= form_with(model: liwentest, local: true) do |form| %>
  <% if liwentest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(liwentest.errors.count, "error") %> prohibited this liwentest from being saved:</h2>

      <ul>
      <% liwentest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :liwentest_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
