<p id="notice"><%= notice %></p>

<h1>Liwentests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @liwentests.each do |liwentest| %>
      <tr>
        <td><%= liwentest.name %></td>
        <td><%= link_to 'Show', liwentest %></td>
        <td><%= link_to 'Edit', edit_liwentest_path(liwentest) %></td>
        <td><%= link_to 'Destroy', liwentest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Liwentest', new_liwentest_path %>
