<%= form_with(model: liwen_sample, local: true) do |form| %>
  <% if liwen_sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(liwen_sample.errors.count, "error") %> prohibited this liwen_sample from being saved:</h2>

      <ul>
      <% liwen_sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :liwen_sample_name %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_area :instructions, id: :liwen_sample_instructions %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
