<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @liwen_sample.name %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @liwen_sample.instructions %>
</p>

<%= link_to 'Edit', edit_liwen_sample_path(@liwen_sample) %> |
<%= link_to 'Back', liwen_samples_path %>
